/* src/pages/ebook/config/EditorComponent.css */
.editor-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px; /* Margin at the top */
  padding-bottom: 100px; /* Margin at the bottom */
  background-color: #f0f0f0; /* Default background color, customizable */
  overflow-y: auto;
  height: 100vh;
  overflow: hidden;
}

.editor-content {
  width: 793.7px;
  height: 1122.52px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Slight shadow for visual effect */
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}